[user]
	name = Nicolas Boutin
	email = boutwork@gmail.com
[gc]
	auto = 256
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
	autosquash = false
	updateRefs = false
[credential]
#	helper = wincred
[core]
	editor = nano
	preloadindex = true
	fscache = true
	autocrlf = false
	whitespace = blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent,tabwidth=2
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	fa = fetch --all -j8 --progress --prune
	st = status -sb
	sti = status -sb --ignored
	br = branch
	co = checkout
	mfc = merge --no-ff --no-commit
	su = submodule update --recursive --jobs 2
	sui = submodule update --init --recursive --jobs 2
	dt = difftool
	dtc = difftool --cached
	mt = mergetool
	rv = remote -v
	lol = log --graph --decorate --pretty=oneline --abbrev-commit -10
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all -10
	dfc = diff --cached
	commend = commit --amend --no-edit
	sf = submodule foreach --recursive
	cl = clean -fd
	clff = clean -dfxf
	dd = difftool --dir-diff
	dds = difftool --dir-diff --staged
[status]
	submoduleSummary = true
[diff]
	tool = bc
	guitool = bc
[difftool]
	prompt = false
	keepbackup = false
[difftool "bc3"]
	path = D:\\Users\\f24178c\\program\\Beyond Compare 3\\BComp.exe
[difftool "bc"]
	path = D:/program/Beyond Compare 4/BComp.exe
	cmd = \"\" \"$LOCAL\" \"$REMOTE\"
[difftool "sourcetree"]
	cmd = 'D:/program/Beyond Compare 4/BComp.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'D:/program/Beyond Compare 4/BComp.exe' \"$LOCAL\" \"$REMOTE\" \"$BASE\" -o \"$MERGED\"
	trustExitCode = true
[merge]
	tool = bc
	guitool = bc
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "bc3"]
	path = D:\\Users\\f24178c\\program\\Beyond Compare 3\\BComp.exe
[mergetool "bc"]
	path = D:/program/Beyond Compare 4/BComp.exe
